.forget-container{
    display: flex;
    flex-direction: column;
}

.email{
    margin-top: 20px;
    height: 60px;
	width: 400px;
	outline: none;
	border: none;
	color: rgb(77, 77, 77);
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
    
    transition: border-color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}
.verification-button{
    margin-left:30%;
    margin-top: 20px;
    height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right,
			rgba(146, 215, 250, 0.76),
			rgba(0, 170, 255, 0.803));
	font-size: 14px;
	border: none;
	cursor: pointer;

    
}